#gitignore

# byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# tests and coverage
*.pytest_cache
.coverage

# database & logs
*.db
*.sqlite3
*.log

# venv
*env
venv/
.env

# javascript
package-lock.json
.vscode/*

# Archivos de compilación de Python
__pycache__/
*.pyc
*.pyo
*.pyd